/* * {
    border: 1px solid royalblue;
} */

body {
    /* background-color: #000000; */
    /* display: flex; */
    /* flex-direction: column; */
    /* min-height: 100vh; */
    background: #000000 url(./images/harvest-bg.jpg) no-repeat top center;
    background-size: contain;
}

.container {
    position: relative;
    margin: 0 auto;
    text-align: center;
    z-index: 100;
    min-width: 1012px;
    /* width: 1170px; */
}

.nav {
    /* display: flex; */
    border-radius: 2px;
    /* align-items: center; */
    /* padding: 10px 20px; */
    border-bottom: 1px solid #dedddd;
    position: relative;
    /* text-align: left; */
    /* z-index: 102; */
    margin: 0 auto;
    width: 980px;
    height: 217px;
    vertical-align: baseline;
}

.nav a {
    color: inherit;
}

.nav a:hover {
    text-decoration: none;
    color: inherit;
}

.main_icon a {
    /* display: flex; */
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

.main_icon a span {
    margin-left: 10px;
}

.main_menu {
    /* display: flex; */
    flex-grow: 3;
    justify-content: space-around;
    color: aquamarine;
}

.main_menu div {
    /* width: 120px;
    height: 50px;
    flex: 1; */
    text-align: center;
    display: inline-block;
}

.main_menu div+div {
    border-left: 1px solid #ddd;
}

.main_menu div a {
    padding: 10px 15px;
}

.user_info {
    display: flex;
    text-align: center;
    align-items: flex-end;
    color: antiquewhite;
    position: absolute;
    right: 20px;
}

.user_name {
    margin-right: 5px;
    color: antiquewhite;
}

.contents {
    /* display: table; */
    width: 100%;
    max-width: 1200px;
    min-height: 400px;
    margin: 0 auto;
    height: 80%;
    padding: 20px;
    /* border: 1px solid #222; */
}


/*
.title {
    display: table-cell;
    height: 1080px
}
*/


/* .main_contents {
     display: table-cell; 
} */

.footer {
    height: 100px;
    background-color: #e0e5e6;
}

.contents {
    /* display: flex */
    flex-direction: column
}

.board_text {
    min-height: 200px;
}

.listBtmNav {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 11px;
}

.marginZero {
    margin: 0px;
}

.fixed {
    /* background-color: #000000; */
    /* position: -webkit-sticky; */
    position: relative;
    z-index: 102;
    text-align: left;
    background: transparent url(./images/header_no_logo.png) no-repeat;
    background-position-x: center;
    background-position-y: 90px;
    vertical-align: baseline;
    margin: 0 auto;
}

.ul_menu {
    list-style: none;
    font-weight: bold;
    width: 978px;
    font-size: 16.5px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 20;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.ul_menu li {
    float: left;
    position: relative;
    background: none;
    padding: 0px;
    cursor: default;
}

.ul_menu>li>a {
    display: block;
    background: url(./images/nav-button-sprite-ko_KR.png);
    /* width: 110px; */
    height: 50px;
    overflow: hidden;
    text-indent: -9999em;
}

#mainLogoLink {
    /* position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 50px;
    width: 222px;
    display: block;
    z-index: 9999;
    margin-left: auto;
    margin-right: auto;
    background: transparent url(images/harvestheaderlogo.png) no-repeat center 0; */
    content: "";
    height: 110%;
    width: 120%;
    margin: 0 -10%;
    display: block;
    background: transparent url(images/harvestheaderlogo.png) no-repeat center 0;
    pointer-events: none;
}

#menu_first a {
    background-position: 0px -250px;
    margin-left: 82px;
    width: 111px;
}

#menu_second a {
    background-position: 0px -100px;
    width: 119px;
}

#menu_third a {
    background-position: -120px 0px;
    width: 119px;
}

#menu_fourth a {
    background-position: 0px 0px;
    margin-left: 116px;
    width: 120px;
}

#menu_fifth a {
    background-position: -239px 0px;
    width: 119px;
}

#menu_sixth a {
    background-position: -239px -100px;
    width: 112px;
}

.searchWidth {
    width: 95px;
}

.disFlex {
    display: flex;
    max-width: 400px;
}

.creditBox {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
    flex-direction: column;
}

.dropDown {
    opacity: 0;
    visibility: hidden;
    display: block;
}

.ul_menu li:hover>#sub_menu_first {
    opacity: 1;
    visibility: visible;
}

.ul_menu li:hover>#sub_menu_second {
    opacity: 1;
    visibility: visible;
}

.dropDown ul {
    width: 189px;
    padding: 10 0;
    position: relative;
}

.dropDown ul>li {
    padding-top: 1px;
    float: none;
    position: relative;
    background: none;
}