body {
    background-color: #f5f5f5;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container {
    max-width: 100%;
    flex: 1;
}

.nav {
    display: flex;
    border-radius: 2px;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid #dedddd;
}

.nav a {
    color: inherit;
}

.nav a:hover {
    text-decoration: none;
    color: inherit;
}

.main_icon a {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

.main_icon a span {
    margin-left: 10px;
}

.main_menu {
    display: flex;
    flex-grow: 3;
    justify-content: space-around;
}

.main_menu div {
    flex: 1;
    text-align: center;
}

.main_menu div+div {
    border-left: 1px solid #ddd;
}

.main_menu div a {
    padding: 10px 15px;
}

.user_info {
    display: flex;
}

.user_name {
    margin-right: 5px;
}

.contents {
    /* display: table; */
    width: 100%;
    max-width: 1200px;
    min-height: 400px;
    margin: 0 auto;
    height: 80%;
    padding: 20px;
    /* border: 1px solid #222; */
}


/*
.title {
    display: table-cell;
    height: 1080px
}
*/


/* .main_contents {
     display: table-cell; 
} */

.footer {
    height: 100px;
    background-color: #e0e5e6;
}

.contents {
    /* display: flex */
    flex-direction: column
}

.board_text {
    min-height: 200px;
}

.listBtmNav {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 11px;
}

.marginZero {
    margin: 0px;
}

.fixed {
    background-color: #f5f5f5;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 5;
}

.searchWidth {
    width: 95px;
}

.disFlex {
    display: flex;
    max-width: 400px;
}